<head>
  <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
</head>
<div class="top-header">
  <i class="far fa-paper-plane fa-3x"></i>
  <h1 class="header-title">futures</h1>
  <label class="toggle" for="open"><i class="fas fa-crown" aria-hidden="true"></i>
    </label>
    <input id="open" type="checkbox">
    <div id="menu">
      <nav>
        <div class="runking-best-contents">
          <form method="get" action="#" class="search_container">
            <input type="text" size="25" placeholder="　キーワード検索">
            <input type="submit" value="検索">
          </form>
        </div>
        <<div class="best_user">
          <div class="box-title">積み上げランキング</div>
          <% @user_runking.each_with_index do |user,i| %>
            <p class="runking-list"><span><%= "#{i+1}位 #{user.nickname}" %></span></p>
          <% end %>
        </div>
        <ul class="follow-me">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <ul class="follow-me">
              <li><a href="https://twitter.com"></a></li>
              <li><a href="https://www.facebook.com"></a></li>
              <li><a href="https://plus.google.com"></a></li>
              <li><a href="https://www.youtube.com"></a></li>
              <li><a href="https://www.tumblr.com"></a></li>
           </ul>
      </nav>
    </div>

  <ul class="header-list">
   <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "destroy" %></li>
    <%= link_to "マイページ", "#" %>
    
    
   <% else %>
    <li><%= link_to "新規登録", new_user_registration_path, class: "signup" %></li>
    <li><%= link_to "ログイン", new_user_session_path, class: "signin" %></li>
   <% end %>
  </ul>
  
</div>

<div class="center-box">
  <div class="home-logo">
    <p><i class="fas fa-home fa-2x"></i></p>
    <p class="home-text">ホーム</p>
  </div>
  <div class="home-icon">
    <i class="fa fa-spinner fa-2x"></i>
  </div>
</div>

<div class="top-contents">
  <div class="tweets-contents">
    <% @tweets.each do |tweet| %>
      <ul class="tweets-list">
        <div class="tweet-info">
          <div class="tweet-top"><li class="user-name"><%= tweet.user.nickname %></li></div>
          <div class="tweet-top"><li class="create-time"><%= l tweet.created_at %></li></div>
          <div class="tweet-icon"><i class="fas fa-angle-down"></i></div>
        </div>
        <li class="user-task"><i class="fas fa-book-reader"></i>：<%= tweet.category.task %></li>
        <li class="study_time"><i class="fas fa-stopwatch"></i>：<%= tweet.hour_time %>h</li>
        <li class="study-text"><i class="fas fa-comments"></i><%= simple_format(tweet.text) %></li>
      </ul>
    <% end %>
  </div>
</div>