<div class="top-header">
  <h1 class="header-title">futures</h1>
  <ul class="header-lists hidden" id="pull-down">
   <% if user_signed_in? %>
    <li><%= link_to "ツイートする", new_tweet_path, class: "new_tweet" %>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "destroy" %></li>
    <li><%= link_to "マイページ", "#" %></li>
   <% else %>
    <li><%= link_to "新規登録", new_user_registration_path, class: "signup" %></li>
    <li><%= link_to "ログイン", new_user_session_path, class: "signin" %></li>
   <% end %>
  </ul>
   
  <div class="lists-menu" id="lists">menu
  </div>
</div>

<div class="top-contents">
  <div class="tweets-contents">
    <% @tweets.each do |tweet| %>
      <ul class="tweets-list">
        <li><%= tweet.user.nickname %>
        <% if tweet.category.present? %>
        <li><%= tweet.category.task %>
        <% end %>
        <li><%=  %></li>
        <li><%= tweet.text %></li>
      </ul>
    <% end %>
  </div>
</div>