<head>
  <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
</head>
<div class="top-header">
  <i class="far fa-paper-plane fa-2x"></i>
  <h1 class="header-title">futures</h1>
  <label class="toggle" for="open"><i class="fas fa-crown" aria-hidden="true"></i>
    </label>
    <input id="open" type="checkbox">
    <div id="menu">
      <nav>
        <div class="runking-best-contents">
          <form method="get" action="#" class="search_container">
            <input type="text" size="25" placeholder="　キーワード検索">
            <input type="submit" value="検索">
          </form>
        </div>
        <<div class="best_user">
          <div class="box-title">積み上げランキング</div>
          <% @user_runking.each_with_index do |user,i| %>
            <p class="runking-list"><span><%= "#{i+1}位 #{user.nickname}" %></span></p>
          <% end %>
        </div>
        <ul class="follow-me">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <ul class="follow-me">
              <li><a href="https://twitter.com"></a></li>
              <li><a href="https://www.facebook.com"></a></li>
              <li><a href="https://plus.google.com"></a></li>
              <li><a href="https://www.youtube.com"></a></li>
              <li><a href="https://www.tumblr.com"></a></li>
           </ul>
      </nav>
    </div>
  <ul class="header-list">
   <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "destroy" %></li>
    <%= link_to "マイページ", "#" %>
   <% else %>
    <li><%= link_to "新規登録", new_user_registration_path, class: "signup" %></li>
    <li><%= link_to "ログイン", new_user_session_path, class: "signin" %></li>
   <% end %>
  </ul>

  <label class="toggles" for="opens"><i class="fas fa-user-circle" aria-hidden="true"></i>
    </label>
    <input id="opens" type="checkbox">
    <div id="menus">
      <nav>
          <% if user_signed_in? %>
          <ul class="user-info">
            <li><%= link_to current_user.nickname, "#", class: "user-nickname" %> </li>
            <li>画像</li>
          </ul>
          <% end %>
          <div class="record-view">
            <div class="all_time">
              <p class="study-log">あなたの総学習時間は、、、</p>
              <p class="time"><%= @study_hour %>時間です<p>
            </div>
          </div>
          <div class="task-contents">
            <%= form_with model: @category, id: 'new_tasks', class: 'new_tasks', local: true do |f| %>
              <div class="task-field">
                <%= f.text_field :task %>
              </div>
              <div class="task-actions">
                <%= f.submit "+" %>
              </div>
            <% end %>
          </div>
          <div class="task-lists">
            <% if user_signed_in? %>
              <% @categories.each do |category| %>
                <ol class="task-list">
                  <li><i class="fa fa-caret-right"></i><%= category.task %></li>
                  <li><%= link_to '削除', category_path(category.id), method: :delete, class:'category-destroy' %></li> 
                </ol>
              <% end %>
            <% end %>
          </div>
          <div class="design-btn">
            <a href="/tweets/new" class="btn-square-little-rich">積み上げる</a>
          </div>
      </nav>
    </div>

  
</div>

<div class="center-box">
  <div class="home-logo">
    <p><i class="fas fa-home fa-2x"></i></p>
    <p class="home-text">ホーム</p>
  </div>
  <div class="home-icon">
    <i class="fa fa-spinner fa-2x"></i>
  </div>
</div>

<div class="top-contents">
  <div class="tweets-contents">
    <% @tweets.each do |tweet| %>
      <ul class="tweets-list">
        <p>
          <i class="fas fa-user-circle"></i>
        </p>
        <div class="tweet-info">
          <div class="tweet-top"><li class="user-name"><%= tweet.user.nickname %></li></div>
          <div class="tweet-top"><li class="create-time"><%= l tweet.created_at %></li></div>
          <div class="tweet-icon"><i class="fas fa-angle-down"></i></div>
        </div>
        <li class="user-task"><i class="fas fa-book-reader"></i>：<%= tweet.category.task %></li>
        <li class="study_time"><i class="fas fa-stopwatch"></i>：<%= tweet.hour_time %>h</li>
        <li class="study-text"><i class="fas fa-comments"></i><%= simple_format(tweet.text) %></li>
      </ul>
    <% end %>
  </div>
</div>