<head>
  <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
</head>

<div class="profile-allcontainer">
  <div class="profile-header">

    <p class="profile-header-title">
      <i class="far fa-paper-plane"></i>
      <%= link_to "futures", root_path %>
    </p>
    <ul class="profile-header-list">
      <li><%= link_to "ホーム", root_path %><li>
      <li><%= link_to "積み上げる", new_tweet_path %><li>
      <li><%= link_to "ログアウト", destroy_user_session_path %></li>
    </ul>
  </div>
  <div class="profile-container">
    <div class="profile-box">
      <div class="profile-record">
        <div class="user-profile-name">
          <p><i class="fas fa-user-circle"></i></p>
          <p class="profile-name"><%= @user.nickname %></p>
        </div>
        <div class="user-profile-separator">
        </div>
        <div class="user-profile-item">
          <div class="user-item-container">
            <i class="fas fa-book"></i>
            <p class="profile-item"><%= @tweets_count %></p>
          </div>
          <p>総積み上げ数</p>
        </div>
        <div class="user-profile-separator">
        </div>
        <div class="user-profile-time">
          <div class="user-time-container">
            <i class="fas fa-medal"></i>
            <p class="profile-time"><%= @user_tweets %></p>
          </div>
          <p>学習時間</p>
        </div>
      </div>
      <div class="top-contents">
        <div class="tweets-contents">
          <% @tweets.each do |tweet| %>
            <ul class="tweets-list">
              <p>
                <i class="fas fa-user-circle"></i>
              </p>
              <div class="tweet-info">
                <div class="tweet-top"><li class="user-name"><%= tweet.user.nickname %></li></div>
                <div class="tweet-top"><li class="create-time"><%= l tweet.created_at %></li></div>
                <div class="tweet-icon"><i class="fas fa-angle-down"></i></div>
              </div>
              <li class="user-task"><i class="fas fa-book-reader"></i>：<%= tweet.category.task %></li>
              <li class="study_time"><i class="fas fa-stopwatch"></i>：<%= tweet.hour_time %>h</li>
              <li class="study-text"><i class="fas fa-comments"></i><%= simple_format(tweet.text) %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div class="chart-box">
    </div>
  </div>
</div>